{% extends "layout.html" %}
{% block head %}
	
{% endblock %}
{% block body %}
{% if session.logged_in %}
  
  <div id="actuadores">
    <h2>Iluminación</h2>
  
 <script type=text/javascript>
  $(function() {
    $(".button").click(function() {
         $.ajax({
            type: "GET",
            url: "/setcolor",
            contentType: "application/json; charset=utf-8",
            data: {color: $("#light_color").val()},
            success: function(data) {
                // Comment me out when debugging!
                // $('#result').text(data.color);
            }
        });     
    });
  });
</script>
  <div id="result"></div>
  <input type="color" id="light_color"  name="colorLight" value="#0000ff">
  <button class="button" type="button">Envía color</button>
  </div>	
  {% endif%}	   
{% endblock %}
