.global {
  border: 5px solid black;
  width: 26em;
height: 26em;
position: fixed;
z-index: 10;
bottom: 0;
left: 50%;
margin-left: -200px;
pointer-events: none;
border: 1px solid #7C5089;
-webkit-transition: all .3s ease;
transition: all .3s ease
}

li {
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  overflow: hidden;
  position: absolute;
  transform-origin: 100% 100%
}

.Item_1 {
    transform: rotate(45deg) skewX(45deg);
}

.Item_2 {
    transform: rotate(90deg) skewX(45deg);
}

.Item_3 {
    transform: rotate(135deg) skewX(45deg);
}

.Item_4 {
    transform: rotate(180deg) skewX(45deg);
}

p {
  transform: skew(-45deg) rotate(-67.5deg) scale(1);
  border-radius: 50%;
  text-align: center;
  padding-top: 2em
}
