{% extends "layout.html" %}
{% block head %}
	{% if session.logged_in %}
   
	<script type="text/javascript">
		var div_id_2_meter_id = {
			temperature: "ct",
			humidity: "ch",
			light: "cl",
			sound: "cs",
			motion: "cm"
		};

		var sse = new EventSource("/update_sensor");

		sse.onmessage = function(event) {
			in_data = JSON.parse(event.data);
			document.getElementById(div_id_2_meter_id[in_data.tipo]).innerHTML = in_data.tipo + ": " + in_data.valor;
			document.getElementById(in_data.tipo).setAttribute("value", in_data.valor);
		}
	</script>
  {% endif%}
{% endblock %}
{% block body %}

  {% if session.logged_in %}
    <div id="sensores">
    <h2>Sensores</h2>
  		 <div id="ct"></div> <meter id="temperature" value="0" min="0" max="50" low="18" high="26"></meter> 
  		 <div id="ch"></div> <meter id="humidity" value="0" min="0" max="100" low="18" high="26"></meter> 
  		 <div id="cl"></div> <meter id="light" value="0" min="0" max="100" low="18" high="26"></meter> 
  		 <div id="cs"></div> <meter id="sound" value="0" min="0" max="100" low="18" high="26"></meter> 
  		 <div id="cm"></div> <meter id="motion" value="0" min="0" max="1" low="0" high="1"></meter> 
   </div>
 
  </div>	
  {% endif%}
{% endblock %}
