* {
    box-sizing: border-box
}
html, body {
    width: 100%;
    overflow: hidden;
}
.glider-contain {
    width: 90%;
    max-width: 997px;
    margin: 0 auto;
}
.glider-slide {
    min-height: 150px;
}
.glider-slide img {
    width: 100%;
}
h1 {
  text-align: center;
}
