#global_cont {
  width: 100%;
}

#title_header {
  background-color: #40ff00;
  color:#ff0000
}

#menu_cont {
  background-color:red;
  width:50%;
  height:20px;
  float: left
}

#info_cont {
  background-color:yellow;
  width:50%;
  height:20px;
  float: left;
  color:blue
}

#data_cont {
  background-color: blue;
  width:50%;
  float:left;
  height:350px;
}

#data_header {
  color:black
}

#data_list {
  color:white;
  margin-left:20px
}

#g_maps_link {
  color: white;
}

#sensors_cont {
  background-color:black;
  width:50%;
  float:left;
  height:350px;
}

#sensors_header {
  color:white
}

.hdr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.menu_link {
  padding: 30px;
}

.centered_text {
  text-align: center;
}

a {
  color: black;
}

table {
  margin-left: 35%;
  color: white;
  border: 1px solid white;
  border-collapse: collapse;
}

img {
  margin: auto;
  display: block;
}

th, td {
  text-align: left;
  border: 1px dashed white;
  border-collapse: collapse;
}

footer {
  background-color:orange;
  height:20px;
  width:100%;
  text-align:center;
  color:blue;
  float:left
}
