.global_cont {
  width: 100%;
}

.title_header {
  background-color: #40ff00;
  color:#ff0000;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}

.menu {
  background-color:red;
  width:50%;
  height:20px;
  float:left;
  text-align:center;
}

.menu_link {
  padding: 30px;
}

a {
  color: black;
}

#info_cont {
  background-color:yellow;
  width:50%;
  height:20px;
  float:left;
  color:blue;
  text-align:center;
}

.data_cont {
  background-color: blue;
  width:50%;
  float:left;
  height:400px;
}

#data_title {
  text-align:center;
}

#data_list {
  color:white;
  margin-left:20px
}

#g_maps_link {
  color: white;
}

img {
  display: block;
  float: left;
  width: 300px;
  height: 200px;
  margin-left: 10px;
}

iframe {
  display: block;
  float: right;
  width: 300px;
  height: 200px;
  frameborder: 0px;
  border: 0px;
  margin-right: 10px;
}

.sensors_cont {
  background-color:black;
  width:50%;
  float:left;
  height:400px;
  text-align:center;
}

.sensors_header {
  color:white;
  text-align:center;
}

table {
  margin-top:9%;
  margin-left:40%;
  color:white;
  border:1px solid white;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  border:1px dashed white;
  border-collapse:collapse;
}

.footer_index
{
  background-color:orange;
  width:100%;
  height:20px;
  text-align:center;
  color:blue;
  float:left
}
